body, html {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
}

section {
  padding-bottom: 50px;
}

#basic_message {
  height: 240px;
}

#basic_message ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#basic_message ul li {
  height: 80px;
  line-height: 80px;
  padding: 10px 18px;
}

#basic_message ul li:first-child {
  position: relative;
}

#basic_message .basic_image {
  width: 60px;
  height: 60px;
  display: inline-block;
  position: absolute;
  left: 18px;
  top: 10px;
}

#basic_message .basic_image_right {
  padding-left: 70px;
  height: 100%;
  overflow: hidden;
}

#basic_message p {
  margin: 0;
  padding: 0;
}

#basic_message .second_title, #basic_message .second_title a {
  line-height: 25px;
  color: #fff;
  font-size: 16px;
}

#basic_message .first_title, #basic_message .first_title a {
  line-height: 35px;
  color: #fff;
  font-size: 20px;
}

#day_chart {
  height: 240px;
}

#day_chart #chart_wrap {
  width: 100%;
  height: 100%;
}

.list_div_wrap {
  margin-top: 25px;
  overflow: hidden;
  background: #eee;
}

.list_div_wrap .list_head {
  padding: 10px 18px;
  border-bottom: 2px solid #f5f5f5;
}

.list_div_wrap .list_body {
  padding: 10px 18px;
  overflow: hidden;
}

.list_div_wrap .list_body ul {
  margin: 0;
  padding: 0;
}

.list_div_wrap .list_body .list_left_message {
  flex: 1;
  padding-left: 10px;
}

.list_div_wrap .list_body .list_left_message p {
  margin: 0;
  padding: 0;
  line-height: 22px;
}

.list_div_wrap .list_body .list_left_image {
  float: left;
}

.list_div_wrap .list_body .list_left_image img {
  width: 67px;
  height: 67px;
}

#blocks .list_body li {
  display: flex;
  overflow: hidden;
  padding: 5px 0;
}

#transactions .list_body {
  overflow: hidden;
}

#transactions .list_body li {
  overflow: hidden;
  padding: 5px 0;
}

#transactions .list_body li p {
  margin: 0;
  padding: 0;
  line-height: 20px;
}

#transactions .list_body .list_right_image img {
  width: 40px;
  height: 40px;
}

#transactions .list_body .list_right_row {
  display: flex;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

#transactions .list_body .float_left {
  flex: 1;
}

#transactions .list_body .list_right_title {
  flex: 1;
  padding-left: 10px;
}

.footer_bg {
  height: 50px;
  padding: 10px;
  text-align: center;
  background: #eee;
}
